//
// This file defines the base configuration for a Debug build of any project.
// This should be set at the project level for the Debug configuration.
//

#include "../Common/Project.xcconfig"

// The format of debugging symbols
// Without dSYM speeds up development iteration
DEBUG_INFORMATION_FORMAT = dwarf

// Whether to enable NSAssert
ENABLE_NS_ASSERTIONS = NO

// Allow running automated tests
ENABLE_TESTABILITY = YES

// The optimization level (0, 1, 2, 3, s) for the produced binary
GCC_OPTIMIZATION_LEVEL = 0

// Whether to only build the active architecture
ONLY_ACTIVE_ARCH = YES

// Other flags to pass to the Swift compiler
//
// This enables conditional compilation with #if DEBUG
OTHER_SWIFT_FLAGS = -D DEBUG

// The optimization level (-Onone, -O, -Owholemodule) for the produced Swift binary
SWIFT_OPTIMIZATION_LEVEL = -Onone

// Whether to perform App Store validation checks
VALIDATE_PRODUCT = NO
