//
// This file defines the base configuration for a Test build of any project.
// This should be set at the project level for the Test configuration.
//

// A Test build is very similar to Release, but just enough from Debug to allow for unit testing.
// This allows most of the same optimzations that the production code will have.
// Targets built with this configuration are meant to be unit tested.
#include "Release.xcconfig"

// Allow running unit tests
ENABLE_TESTABILITY = YES

// Disable bitcode for faster compilation
ENABLE_BITCODE = NO

// Whether to only build the active architecture
ONLY_ACTIVE_ARCH = YES

// Whether to perform App Store validation checks
VALIDATE_PRODUCT = NO
