//
// This file defines additional configuration options that are appropriate only for extensions.
// This file is not standalone -- it is meant to be included into a configuration file for a
// specific type of target.
//

// Disallows use of APIs that are not available to app extensions and linking to frameworks
// that have not been built with this setting enabled.
APPLICATION_EXTENSION_API_ONLY = YES
